
<head>
<link rel="stylesheet" href="~/css/button-style.css">
</head>

<br/>
<br/>
<br/>
<br/>
<div class="container">

<center>

@Html.ActionLink("Twitter", "TwitterAuth", "Twitter", null, new { @class="biliboard" })

@Html.ActionLink("Facebook", "FacebookConnection", "Facebook", null, new { @class="biliboard" })

@Html.ActionLink("Github", "GithubConnection", "Github", null, new { @class="biliboard  electronic" })

@Html.ActionLink("Spotify", "Auth", "Spotify", null, new { @class="biliboard  repeating" })

@Html.ActionLink("WoW", "WoWConnection", "WoW", null, new { @class="biliboard  radial" })

</div>
</center>